

.container{
    align-items: center;
    height: 350px;
    width: 400px;
    border: none;
    background-color: rgba(236, 236, 236, 0.926);
    padding: 20px;
    margin: 200px;
    z-index: -1;

}

.exit{
    float: right;
    border: none;


}

.planet{
    color : #5D1FC2;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    font-family: "Noto Serif KR";
}

.h2 {
    font-weight: 400;
    font-size: 20px;
}

.kakao,
.google {
    border: none;
    border-radius: 5px;
}

.guideline{
    margin: 10px;
    color: #bcbcbc;
}

.guide, .guide2 {
    font-size: 12px;
    color: #9b9b9b;   
}

.guide2{
    text-decoration: underline;
    font-weight: bold;

}