

.container{
    text-align: center;
    height: 180px;
    width: 400px;
    border: none;
    background-color: rgba(236, 236, 236, 0.926);
    padding: 20px;
    margin: 200px;
    z-index: -1;

}

.h2 {
    font-weight: 400;
    font-size: 20px;
}

.no,
.yes {
    font-size: 20px;
    width: 150px;
    padding : 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;    
}

.no {
    background-color: white;
}
.yes {
    background-color:#5D1FC2;
    color: white;
}
