.box {
position: absolute;
  top: 0;

  background-color: #ededed;
  width: 100%;
  height: 128px;




}
.notice {
  position: absolute;
  top: 90px;
  left: calc(50% - 465px);
  color: #767676;
  font-size: 12px;
  font-family: Inter;
}
.tel {
  position: absolute;
  top: 45px;
  left: calc(50% - 285px);
  font-weight: 500;
  color: #191919;
  font-size: 14px;
  font-family: Noto Sans KR;
}
.rectangleParent {
  position: relative;
  margin-top: 200px;
  margin-left: -6px;
  margin-right: -8px;
  vertical-align: bottom;
  /*
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  */
}