.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ededed;
  width: 100%;
  height: 128px;
}
.notice {
  position: absolute;
  top: 95px;
  left: calc(50% - 465px);
  color: #767676;
  font-size: 12px;
  font-family: Inter;
}
.span {
  color: var(--color-black);
}
.tel {
  font-size: 14px;
}
.telContainer {
  position: absolute;
  bottom: 55px;
  left: calc(50% - 285px);
  font-weight: 500;
  color: #191919;
  font-size: 16px;
  font-family: Noto Sans KR;
}
.rectangleParent {
  position: relative;
  /* top: 500px; */
  margin-top: 250px;
  left: 0;
  width: 1280px;
  height: 128px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
