.div14,
.group,
.planet {
  position: absolute;
}

.group {
  top: 191px;
  left: 80px;
  width: 545px;
  height: 360px;
  font-size: var(--font-size-xl);
  font-family: Noto Sans KR;
}
.planet {
  top: -5px;
  left: 0;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 200px;*/
  border: none;
  background: none;
  cursor: pointer;
}
.planetIcon,
.planetParent {
  position: absolute;
  /*height: 49.14px;*/
}
.planetIcon {
  top: 0;
  left: 132px;
  width: 49.14px;
  overflow: hidden;
}
.planetParent {
  top: 5px;
  left: 0;
  /*width: 181.14px;*/
}
.basketAlt3Icon,
.userCicrleDuotoneIcon {
  position: absolute;
  top: 8px;
  left: 1006px;
  width: 38px;
  height: 42px;
  cursor: pointer;
}
.userCicrleDuotoneIcon {
  left: 1070px;
  border: none;
  background: none;
}

.line,
.groupItem {
  position: absolute;
  box-sizing: border-box;
}
.line {
  top: 15.5px;
  left: 1061.5px;
  border-right: 1px solid var(--color-gainsboro);
  width: 1px;
  height: 27px;
  background: #dbdbdb;
}
.groupItem {
  width: 549px;
  height: 58px;
  flex-shrink: 0;
  top: 0;
  left: 285px;

  background-color: var(--color-white);

  border-radius: 90px;
  border: 3px solid #5d1fc2;
  background: #fff;
}
.inputWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.div16,
.searchAltIcon {
  border: none;
  background-color: transparent;
}
.searchAltIcon {
  cursor: pointer;
  width: 50px;
  height: 90%;
  padding-left: 15px;
  margin-top: 5px;
}
.div16 {
  width: 100%;
  height: 80%;
  font-size: 18px;
  font-weight: 500;
  font-family: "Noto Sans KR";
  color: #999;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-right: 20px;
}
.groupParent {
  position: absolute;
  top: 50px;
  left: 80px;
  width: 1120px;
  height: 58px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-blueviolet-100);
  font-family: var(--font-notoseriftamilslanted);
}

.pannel {
  position: relative;
  top: 100px;
  left: 80px;
  width: 20000px;
  height: 80px;

  padding: 20px;
}

.prod {
  width: 100px;
  height: 10px;
  font-size: 18px;
  color: black;
  border: 2px solid black;
}