.itemlistcontent {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
  align-content: space-around;
  justify-content: space-around;
}

.listItem {
  font-family: "Noto Sans CJK KR";
  align-items: center;
  align-self: center;
  gap: 5px;
  position: relative;
  width: calc(25% - 44px);
  margin-top: 34px;
  margin-bottom: 56px;
}

.imgContainer {
  position: relative;
  cursor: pointer;
}

.itemimg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.heartButton {
  width: 24px;
  height: 24px;
  bottom: 13px;
  right: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.heartIcon {
  object-fit: fill;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.iteminfo {
  margin: 3px 5px;
}

.itemstorelogo {
  float: left;
  width: 16px;
  height: 20px;
  margin-right: 5px;
}

.itemname {
  font-weight: bold;
  margin-bottom: 4px;
}

.itemprice {
  color: #5d1fc2;
  font-weight: bolder;
  font-size: 17px;
}

.itempick {
  float: right;
  font-size: 13px;
}

.paginationBox{
    display: block;
    background-color: white;
    border: none;
    margin: 10px;
}

.pageBox {
    background-color: white;
    border: none;
    margin: 10px;
}
.pageMove {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}