.background {
  width: 100vw;
  height: 50vh;

  background: #ffffffb7;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/

  position: absolute;
  top: 50px;
}

.loadingText {
  font: 1rem "Noto Sans KR";
  text-align: center;
}
