.box {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px;

  /*border-radius: 5px;*/
  border: 1px solid #dbdbdb;
}
.div {
  width: 114px;
  height: 460px;
  text-align: center;
  background-color: white;
}

.div,
.box {
  position: absolute;
}
.title {
  margin: 15px 0px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: #767676;
  font-size: 16px;
  font-family: "Noto Sans KR";

  padding-bottom: 15px;
  border-bottom: 2px dotted rgb(136, 136, 136);
}
.item {
  position: relative;
  left: 1px;
  width: 80px;
  height: 60px;
  object-fit: cover
}
