.box {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;

  border-radius: 5px;
  border: 3px solid #dbdbdb;
}
.div {
  /*
  top: 184px;
  left: 1086px;
  */
  width: 114px;
  height: 412px;
  text-align: center;
}

.div,
.title,
.box {
  position: absolute;
}
.title {
  top: 18px;
  left: 15px;
  font-weight: bold;
  text-align: center;
  color: #767676;
  font-size: 16px;
  font-family: "Noto Sans KR";
}
.item {
  position: relative;
  top: 60px;
  left: 1px;
  width: 80px;
  height: 50px;
}
